body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h2, h3 {
    margin: 10px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.lead-container, .follow-container {
    width: 45%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.e-button {
    background:  #2196f3;
    color: white;
}

.e-button.active {
    background: #f44336;
}

.e-button:hover {
    background: #87ceeb;
}

.w-button {
    background: #013b69;
    color: white;
}

.w-button.active {
    background: #f44336;
}

.w-button:hover {
    background: #1976d2;
}

.lead-container button.active, .follow-container button.active {
    background: #f44336;
}

.lead-container button, .follow-container button {
    width: 45px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.extra-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.extra-buttons button {
    width: 45px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    background: #2b6148;
    color: white;
    cursor: pointer;
}

.extra-buttons button.active {
    background: #f44336;
}

.extra-buttons button:hover {
    background: #000000;
}

.calculate {
    background: #4caf50;
    margin-top: 20px;
}

.calculate:hover {
    background: #388e3c;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 5px;
}

.clear {
    background: #f44336;
    color: white;
}

.clear:hover {
    background: #d32f2f;
}

.follow-group button {
    width: 45px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    background: #a82121;
    color: white;
    cursor: pointer;
}

.lead-group button {
    width: 45px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    background: #a82121;
    color: white;
    cursor: pointer;
}

.follow-group button.active {
    background: white;
}

.lead-group button.active {
    background: white;
}
p
    {
        position: absolute; 
        top: 0;
        left: 0;
        text-size-adjust: 8px;
        font-weight: bold;

}